

.navbar {
  font-size: large;
  font-family: "Helvetica Neue";
}

h1 {
  font-family: "Helvetica Neue";
  padding-left: 50px;
  padding-top: 50px;
}

p {
  font-family: "Helvetica Neue";
  padding-left: 100px;
  padding-top: 25px;
  padding-right: 100px;
  font-size: x-large;
}

.table {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}