.navbar {
  font-size: large;
  font-family: "Helvetica Neue";
}

h1 {
  font-family: "Helvetica Neue";
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
}

h2 {
  font-family: "Helvetica Neue";
  padding-left: 100px;
  padding-top: 50px;
  font-size: x-large;
}

p {
  font-family: "Helvetica Neue";
  padding-left: 100px;
  padding-top: 25px;
  padding-right: 100px;
  font-size: x-large;
}

.table {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.logo {
  margin-top: 25px;
}

.list {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.my-image-div{
  padding-bottom: 100px;
  height: 300px;
}

#welcome {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
  font-size: large;
}

.uhlogo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.footer-list {
  padding-right: 15px;
}
