.navbar {
  font-size: medium;
  font-family: "Helvetica Neue";
  vertical-align: bottom;
}

h1 {
  font-family: "Helvetica Neue";
  padding-left: 50px;
  padding-top: 50px;
  padding-bottom: 20px;
  color: #024731;
}

h2 {
  font-family: "Helvetica Neue";
  padding-left: 100px;
  padding-top: 50px;
  font-size: large;
}

p {
  font-family: "Helvetica Neue";
  padding-left: 100px;
  padding-top: 25px;
  padding-right: 100px;
  font-size: large;
}

.table {
  padding: 20px 200px;
  font-size: small;
}

.logo {
  padding-left: 100%;
}

.list {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 100px;
}

.my-image-div{
  padding-bottom: 100px;
  height: 300px;
}

#welcome {
  padding-left: 200px;
  padding-right: 200px;
  padding-bottom: 25px;
  font-size: medium;
}

.uhlogo {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.footer-list {
  padding-right: 10px;
  font-size: small;
}

.department-grid {
  padding-top: 50px;
}

.grid-space {
  padding-bottom: 50px;
  font-size: large;
}

.badge {
  position: relative;
  top:225px;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding:5px 10px;
  font-size:40px;
}

.carousel {
  align-items: center;
  width:600px;
  height: 400px;
  margin: auto;
}
.list {
  padding-left: 100px;
}

.table-pi {
  padding: 20px 75px;
  font-size: small;
}